.find-container {
  background-color: var(--white);
  width: 100vw;
  height: 100vh;
  font-family: 'Pretendard', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.find-logo-img {
  width: 80px;
  height: auto;
  margin-bottom: 12px;
}

.find-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 10px;
  text-align: center;
}

.find-box {
  background-color: var(--gray-2);
  padding: 24px;
  border-radius: 16px;
  width: 340px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.08);
}

.find-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.find-form label {
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
}

.find-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.find-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.find-buttons button {
  width: 48%;
  padding: 12px;
  font-size: 15px;
  font-weight: 600;
  color: var(--white);
  background-color: var(--navy);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}