.landing-container {
    background-color: var(--main-yellow);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .logo-image {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
  }

  .logo-text {
    font-size: 80px;
    font-weight: 700;
    color: var(--white);
    margin: 0;
  }
  
  .sub-text {
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
    margin-top: 10px;
  }