.main-page {
  padding-bottom: 80px;
  font-family: 'Pretendard', sans-serif;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.logo {
  width: 40px;
  height: auto;
}

.section-header {
  width: 90%;
  max-width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 8px 0;
}

.section-title {
  width: 90%;
  max-width: 380px;
  font-size: 18px;
  color: var(--black);
  margin: 24px 0 8px 0;
}

.more-button {
  background: none;
  width: 80px;
  border: none;
  color: var(--sub-gray);
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  padding-top: 26px;
  margin-right: -8px;
}

.more-button:hover {
  text-decoration: underline;
}

.chat-box {
  width: 90%;
  max-width: 380px;
  background-color: var(--sub-yellow-1);
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.chat-heading {
  font-weight: bold;
  margin-bottom: 8px;
}

.chat-questions {
  padding-left: 16px;
  margin-bottom: 12px;
  color: #444;
}

.chat-button {
  background-color: var(--main-yellow);
  border: none;
  border-radius: 8px;
  width: 280px;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  margin: 12px auto 0 auto;
  text-align: center;
}

.todo-wrapper {
  width: 90%;
  max-width: 380px;
  background-color: var(--sub-yellow-1);
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 24px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.todo-cards {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

.card {
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  min-width: 120px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.date {
  font-weight: bold;
  color: var(--red);
  margin-bottom: 4px;
}

.time {
  font-size: 14px;
  color: #000;
}

.community-section {
  width: 90%;
  max-width: 380px;
  margin-bottom: 80px;
  background-color: var(--sub-yellow-1);
  border-radius: 12px;
  padding: 4px 12px;
}

.hot-post-card {
  background-color: var(--sub-yellow-1);
  border-bottom: 1px solid var(--gray-1); /* 내부 구분선 */
  padding: 8px 0;
}

.hot-post-card:last-child {
  border-bottom: none; /* 마지막 요소는 구분선 제거 */
}

.hot-post-header {
  font-size: 12px;
  color: var(--sub-yellow-1);
}

.hot-post-title {
  font-size: 15px;
  font-weight: 600;
  margin: 4px 0;
}

.hot-post-content {
  font-size: 14px;
  color: var(--black);
  background-color: var(--sub-yellow-1);
  padding: 2px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.hot-post-stats {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  font-size: 12px;
  color: var(--sub-gray);
}

.stat {
  display: flex;
  align-items: center;
  gap: 3px;  /* 아이콘과 숫자 사이도 조금 띄움 */
}